.grand_parent{ 
    width: auto; 
    /* height:100vh; */
    /* background: #dfe6e9;  */
    color: #fff;
}
.parents{ 
    width: 50vw; 
    height: auto; 
    margin: auto;
    display: flex;  
    justify-content: space-around;
    flex-wrap: wrap; 
    transition: all 0.2 linear;
}
.child{
    /* height: 200px; */
    /* background:#81ecec; */
    /* box-shadow: 0 0 20px #bac3c3; */
    flex:1 1 200px;
    margin: 20px;
}
.child:first-child{
    /* background: #ffbe76; */
}
.child:last-child{
    /* background: #ff7979; */
}

.temp1{
    height: 24rem;
}
.temp_title {
    top: 10rem;
}
@media (max-width: 768px){
    .grand_parent{
        height:auto; 
    }
    .parents{
        width: auto;
    }
    .temp1{
        height: 20rem;
    }
    .temp_title {
        top: 10rem;
    }
}